*{
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    font-family: 'Livvic', sans-serif;
    
}