:root{
    --color-1: #fff;
    --color-2: #000;
    --color-3: #939CAA;
    --color-4: #495567;
    --color-5: #FCB72B;
    --color-6: #333A44;
    --color-7: #FFF4DF;
    --color-8: #E5ECF4;
    --color-9: #F2F5F9;

}